# Base de datos
DATABASE_URL="postgresql://rafa:@localhost:5432/rag?schema=public"

# OpenAI
OPENAI_API_KEY="sk-your-openai-api-key-here"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
OPENAI_CHAT_MODEL="gpt-4o-mini"

# Embedding
EMBEDDING_DIMENSIONS=1536

# App
PORT=3000
NODE_ENV=development
